{% load static %}
{% load i18n %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<!-- MEGAMENU -->
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script src="{% static 'js/megamenu.js' %}"></script>

<!-- OTHER JS -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- FANCYBOX -->
<script src="{% static 'js/jquery.fancybox.pack.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}" type="text/javascript"></script>
<script src="{% static 'js/fancy_func.js' %}" type="text/javascript"></script>

<!-- REVOLUTION SLIDER -->
<script src="{% static 'js/jquery.themepunch.plugins.min.js' %}"></script>
<script src="{% static 'js/revolutio-slider-func.js' %}"></script>



<script>
$(document).ready(function () {

    $('.card .card-body table').addClass('table table-bordered table-hover table-responsive')
    $('.card .card-body h2').addClass('sirojiddin')
})


</script>
<script>
let currentIndex = 0;
const cards = document.querySelectorAll(".main-chief");
const totalCards = cards.length;

// Устанавливаем начальный вид
cards.forEach((card, index) => {
card.style.opacity = index === 0 ? "1" : "0";
card.style.transform = index === 0 ? "translateX(0)" : "translateX(-50px)";
card.style.position = index === 0 ? "relative" : "absolute";
card.style.top = "0";
card.style.left = "0";
card.style.width = "100%";
card.style.zIndex = index === 0 ? "1" : "-1";
});

function updateChiefCard() {
cards.forEach((card, index) => {
if (index === currentIndex) {
    card.style.opacity = "1";
    card.style.transform = "translateX(0)";
    card.style.position = "relative";
    card.style.zIndex = "1";
    card.style.transition = "opacity 1s ease-in-out, transform 1s ease-in-out";
} else {
    card.style.opacity = "0";
    card.style.transform = "translateX(-50px)";
    card.style.position = "absolute";
    card.style.zIndex = "-1";
    card.style.transition = "opacity 1s ease-in-out, transform 1s ease-in-out";
}
});
currentIndex = (currentIndex + 1) % totalCards;
}

setInterval(updateChiefCard, 4000);

// CSS эффекты (добавь в твой CSS файл или в <style>)
/*
.main-chief {
width: 100%;
}
*/

</script>